
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
//@import "variables";

// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-size: 12px;
}

h2 {
  font-size: 24px;
}

.button-delete {
  color: #761c19;
}

.button-edit {
  color: #2e6da4;
}

